<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/navbar.js}" defer></script>
    <script src="https://kit.fontawesome.com/1ad5d86581.js" crossorigin="anonymous"></script>
    <title>로그인</title>
</head>
<body>
<div class="background"></div>

<!-- 네비게이션 바 -->
    <header>
        <div th:replace="~{navbar :: navbar}"></div>
    </header>
    <main>
        <div class="content_1">
            <div class="signup-div">
                <div class="signup-div-content">
                    <div><h2>로그인</h2></div>
                    <div>
                        <label for="inputMemberId">아이디</label>
                        <input type="text" id="inputMemberId" class="sd-input">
                    </div>
                    <div>
                        <label for="inputMemberPw">패스워드</label>
                        <input type="password" id="inputMemberPw" class="sd-input">
                    </div>
                    <div>
                        <label></label>
                        <button id="login-btn">로그인</button>
                        <a href="#"><img th:src="@{/images/kakao_login_button.png}" alt="Kakao Login Button"/> </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const existingToken = localStorage.getItem('jwtToken');
            if (existingToken) {
                window.location.href = "/app";
            }
        });

        document.addEventListener("DOMContentLoaded", function() {
            const existingToken = localStorage.getItem('jwtToken');
            if (existingToken) {
                window.location.href = "/app";
            }
        });

        document.getElementById("login-btn").addEventListener("click", function() {
            const formData = new FormData();
            formData.append('memberId', document.getElementById('inputMemberId').value);
            formData.append('password', document.getElementById('inputMemberPw').value);

            fetch('/login', {
                method: 'POST',
                body: formData
            }).then(response => {
                if (!response.ok) {
                    return response.text().then(text => {
                        throw new Error('로그인 실패: ' + text);
                    });
                }
                const token = response.headers.get('Authorization');

                if (token) {
                    const jwtToken = token.startsWith('Bearer ') ? token.split(' ')[1] : token;
                    localStorage.setItem('jwtToken', jwtToken);  // JWT 토큰을 저장
                    alert("로그인 성공!!");

                    // 로그인 성공 후 /app 페이지로 이동
                    window.location.href = "/app";
                } else {
                    throw new Error('Authorization 헤더에 토큰이 없습니다.');
                }

            }).catch(error => {
                console.error('에러:', error);
                alert("로그인 실패");
            });
        });
    </script>
</body>
</html>
